nav {
  display: flex;
  justify-content: flex-end;
  margin-top: 0px;
}

nav > p {
  margin: 10px;
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6rem 1.2rem;
  font-size: 1rem;
  font-weight: 500;
  font-family: inherit;
  cursor: pointer;
  transition: border-color 0.25s;
}

nav > p {
}
:hover {
  border-color: #646cff;
}
p:focus,
p:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}
